@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

$base-color-1100: #4A4E3E;
$base-color-900: #6B705C;
$base-color-700: #B7B7A4;
$base-color-500: #CB997E;
$base-color-300: #FFE8D6;
$base-color-100: #FFF5ED;
$base-color-50: rgba(255, 255, 255, 0.8);

$font-accent: 'Playfair Display', serif;
$font-base: 'Poppins', sans-serif;
