@import 'variable';
@import "mixin";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-base;
  color: $base-color-300;
  background: $base-color-300;
}

h1, h2, h3 {
  font-family: $font-accent;
}

header {
  background: $base-color-1100;
  color: white;
  padding: 20px;
  text-align: center;

  h1 {
    color: $base-color-300;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  background: $base-color-700;
  
  ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  li {
    list-style: none;
  }

  a {
    color: $base-color-1100;

    &:hover {
      color: $base-color-300;
    }
  }
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  background: $base-color-700;
}

.form-section {
  background: $base-color-500;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include for-tablet {
    flex-direction: row;
  }

& > div{
  align-self: center;
}
}

.sort-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & select{
    height: fit-content;
    padding: 5px;
    margin: auto;
  }

  @include for-tablet {
    flex-direction: column;
    order: 1;
  }
}

.form-container {
  background: $base-color-500;
  color: $base-color-50;
  padding: 20px;
}

.form-container > * {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
}

.form-container label,
.form-container button {
  margin-top:  10px;
}

button {
  border: none;
  border-radius: 5px;
  background: $base-color-900;
  color: $base-color-100;
  padding: .5em;
  margin: 10px;
}

button:hover,
button:active {
  background: $base-color-100;
  color: $base-color-900;
}



.songs-overview {
  display: grid;
  grid-template-columns: repeat(1, auto);

  @include for-tablet {
    grid-template-columns: repeat(2, auto);
  }

  @include for-small-desktop {
    grid-template-columns: repeat(3, auto);
  }

}

.song-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid;
  width: 300px;
  margin: 10px auto;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px 5px $base-color-900; 
  box-shadow: 5px 5px 15px 5px $base-color-900;
  background: $base-color-500 ;



  h3 {
    margin: 0;
    padding-top: 10px;
  }
  h4 {
    margin: 0;
  }

}

img {
  max-width: 100%;
}

.cover-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.about-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  h1 {
  text-align: center;
  }
}
